<ul class="nav navbar-nav navbar-right">
    <li>
        @if (ViewData["username"] != null)
        {
                @Html.ActionLink("Logged in as " + ViewData["username"], "ShoppingCart", "Shopping")
        }
    </li>
</ul>
