@model ShopCore.Services.ViewModel.RegisterViewModel


<h1>Register</h1>
<form asp-controller="User" asp-action="Register"
      method="post">
    <div class="form-group" style="background-color: lightgray; border-radius: 3px; width: 38%">
        <table>
            <tr>
                <td><label asp-for="FullName"></label></td>
                <td><input asp-for="FullName" /></td>
            </tr>
            <tr>
                <td><label asp-for="UserName"></label></td>
                <td><input asp-for="UserName" /></td>
            </tr>
            <tr>
                <td><label asp-for="Email"></label></td>
                <td><input asp-for="Email" /></td>
            </tr>
            <tr>
                <td><label asp-for="Password"></label></td>
                <td>
                    <input asp-for="Password"
                           type="password" />
                </td>
            </tr>
            <tr>
                <td><label asp-for="ConfirmPassword"></label></td>
                <td>
                    <input asp-for="ConfirmPassword"
                           type="password" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Register" class="btn btn-light" />
                </td>
            </tr>
            <tr>
                <td>
                    <button name="facebookRegister" class="button btn-primary" style="border-radius: 3px; font-size: 19px;"
                            asp-controller="User" asp-action="FacebookRegister">
                        <span>Register with Facebook</span>
                    </button>
                </td>

            </tr>
        </table>
        <div asp-validation-summary="All"></div>
        <br />
        <div>@TempData["message"]</div>
        </div>
</form>