<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="EmailTemplatePath" value="Views/EmailTemplates/Receipt.cshtml" />
		<add key="work.days.descriptions" value="Monday,Tuesday, Wednesday, Thursday, Friday" />
		<add key="work.days.descriptions" value="Monday,Tuesday, Wednesday, Thursday, Friday" />
		<add key="work.days.descriptions" value="Monday,Tuesday, Wednesday, Thursday, Friday" />
		<add key="work.days.descriptions" value="Monday,Tuesday, Wednesday, Thursday, Friday" />
		<add key="work.days.descriptions" value="Monday,Tuesday, Wednesday, Thursday, Friday" />
	</appSettings>
</configuration>